<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Delete Cast Member</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Delete Cast Member</h2>

<div style="text-align: center; padding-top:50px">
  <form action="/delete" method="POST">
    <div class="form-group">
      <label for="cast_id">SELECT A CAST MEMBER TO DELETE</label><br/>
      <select id="cast_id" name="cast_id">
      <% if(typeof castMembers != "undefined" && castMembers.length > 0){ %>
        <% castMembers.forEach(function(cast){ %>
          <option value="<%= cast.id %>">
            <%= cast.lastName + ", " +  cast.firstName %>
          </option>
        <% }) %>
      <% } %>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-danger">
        DELETE CAST MEMBER
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </form>
</div>
